/* src/App.css */

@font-face {
  font-family: 'WsPontac';
  src: url('./fonts/WsPontac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

@font-face {
  font-family: 'Swiss721';
  src: url('./fonts/Swiss721.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

body {
  background-color: #ffe4f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  /* Optionally override font for header if needed, otherwise it inherits from .App */
  /* font-family: 'WsPontac', sans-serif; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}